<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <!-- Thymeleaf Spring css-->
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <!-- Local html css-->
    <link href="../static/index.css" rel="stylesheet">
    <h1>Ønskeseddel</h1>
</head>
<body>
    <table style="width:80%">
        <tr>
            <th>Id</th>
            <th>Produktnavn</th>
            <th>Antal</th>
            <th>Pris</th>
        </tr>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">
                42
            </td>
            <td th:text="${product.name}">
                meningen med alting
            </td>
            <td th:text="${product.amount}">
                666
            </td>
            <td th:text="${product.price}">
                700
            </td>
            <td>
                <a th:href="@{'/update/' + ${product.id}}" href="/update">Opdater</a>
            </td>
            <td>
                <a th:href="@{'/delete/' + ${product.id}}" href="/delete">Slet</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav class="new-nav">
        <div class="new-container">
            <form>
                <div class="new-row">
                    <div class="col-75">
                        <div>
                            <label for="id">Id</label><br>
                            <input type="text" id="id" name="Id" placeholder="Id">
                        </div>

                        <div>
                            <label for="Produktnavn">Produktnavn</label><br>
                            <input type="text" id="Produktnavn" name="Produktnavn" placeholder="Produktnavn">
                        </div>

                        <div>
                            <label for="Antal">Antal</label><br>
                            <input type="text" id="Antal" name="Antal" placeholder="Antal">
                        </div>

                        <div>
                            <label for="Pris">Pris</label><br>
                            <input type="text" id="Pris" name="Pris" placeholder="Prisss">
                        </div>

                        <td>
                            <a th:href="@{'/update/' + ${product.id}}" href="/update">Opdater</a>
                        </td>
                        <td>
                            <a th:href="@{'/delete/' + ${product.id}}" href="/delete">Slet</a>
                        </td>
                    </div>
                </div>
                <div class="new-rows">
                    <input type="submit" value="Tilføj ønske">
                </div>
            </form>
        </div>
    </nav>
</body>
</html>