<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <!-- Thymeleaf Spring css-->
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <!-- Local html css-->
    <link href="../static/index.css" rel="stylesheet">
    <h1>Ønskeseddel</h1>
</head>
<body>
    <!--<table style="width:80%">
        <tr>
            <th>Id</th>
            <th>Produktnavn</th>
            <th>Antal</th>
            <th>Pris</th>
        </tr>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">
                42
            </td>
            <td th:text="${product.name}">
                meningen med alting
            </td>
            <td th:text="${product.amount}">
                666
            </td>
            <td th:text="${product.price}">
                700
            </td>
            <td>
                <a th:href="@{'/update/' + ${product.id}}" href="/update">Opdater</a>
            </td>
            <td>
                <a th:href="@{'/delete/' + ${product.id}}" href="/delete">Slet</a>
            </td>
        </tr>
        </tbody>
    </table>-->

    <nav class="new-nav">
        <div class="new-container">
            <div class="test">
                <input type="text" id="Produktnavn" name="Produktnavn" placeholder="Produktnavn">
                <input type="text" id="Antal" name="Antal" placeholder="Antal">
                <input type="text" id="Pris" name="Pris" placeholder="Pris">

                <td>
                    <a th:href="@{'/update/' + ${product.id}}" href="/update">Opdater</a>
                </td>
                <td>
                    <a th:href="@{'/delete/' + ${product.id}}" href="/delete">Slet</a>
                </td>
                <button class="tilføjønske">
                    <a href="wishlist.html">Tilføj ønske</a>
                </button>
            </div>
        </div>
    </nav>
</body>
</html>